.App{
    /*DIMENSION*/
    height: 100vh;
    width: 100%;

    /*MAIN BACKGROUND*/
    background-image: url('../img/dustin-lee-19667.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/*RESPONSE*/
@media(max-width: 900px){
    .App{
        background-position: 10% 50%;
    }
}