nav{
    /*DIMENSION*/
    width: 100vw;
    height: 60px;
    padding: 15px;
    box-sizing: border-box;

    /*FONT*/
    font-family: var(--font-disp);
    font-size: 30px;
    color: var(--dark-white);

    /*BACKGROUND*/
    background-color: var(--light-screen);
}

.desktop-nav{
    /*DIMENSION*/
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    /*LAYOUT*/
    display: none; /*to change in @media*/
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.desktop-nav-opt{
    /*DIMENSION*/
    height: 50%;
    width: auto;
    padding: 5px;
    border-radius: 5px;
    
    /*BACKGROUND*/
    background-color: var(--light-screen);

    /*LAYOUT*/
    display: flex;
    align-items: center;

    /*MISC*/
    cursor: pointer;
}

.desktop-nav-opt a{
    /*DIMENSION*/
    height: 100%;
    width: 100%;

    /*LAYOUT*/
    display: flex;
    align-items: center;
}

.desktop-nav-opt:hover, .desktop-nav-opt a:hover{
    background-color: var(--mustard);
    color: var(--light-screen);
}

nav img{
    /*DIMENSION*/
    height: 100%;

    /*LAYOUT*/
    float: right;
}
nav .logo{
    /*FONT*/
    font-size: 40px;
    color: var(--mustard);
}
.mobile-nav{
    /*DIMENSION*/
    height: 300px;
    width: 60%;

    /*LAYOUT*/
    position: absolute;
    right: 0;
    top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 10px;

    /*BACKGROUND*/
    background-color: var(--light-screen);
}

/*RESPONSE*/
@media(min-width: 600px){
    nav{
        height: 100px;
    }
    .desktop-nav{
        display: flex;
    }
    nav img, .logo{
        display: none;
    }
}
