@import url('https://fonts.googleapis.com/css?family=Josefin+Slab|Special+Elite');

:root{
    /*BASE COLORS*/
    --dark-black: #000000;
    --light-black: #202020;
    --dark-gray: #505050;
    --light-gray: #919191;
    --dark-white: #e2e2e2;
    --light-white: #fdfdfd;

    /*PRIMARY COLORS*/
    --mustard: #BDAF5C;
    --blue: #567B7D;
    --brown: #706942;
    --dark-purple: #3D1E33;
    --light-purple: #BD669F;

    /*SCREENS*/
    --light-screen: rgba(0,0,0,.3);
    --dark-screen: rgba(0,0,0,.7);

    /*FONTS*/
    --font-disp: 'Special Elite', monospace;
    --font-text: 'Josefin Slab', serif;

}